NODE_ENV = development

PORT = 5000

MONGO_URI = mongodb://127.0.0.1:27017/stms_dev
# For MongoDB Atlas instead of local:
# MONGODB_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/stms_dev

CLIENT_URL = http://localhost:5173

# for Authentication
JWT_ACCESS_SECRET = your_access_secret_here
JWT_REFRESH_SECRET = your_refresh_secret_here